:root {
--pale--blue: hsl(225, 100%, 94%);
--bright--blue: hsl(245, 75%, 52%);
--very--pale--blue: hsl(225, 100%, 98%);
--desaturated--blue: hsl(224, 23%, 55%);
--dark--blue: hsl(223, 47%, 23%) ;
}
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Red Hat Display",sans-serif;
    text-align: center;
    color : var(--desaturated--blue);
    background-color : var(--pale--blue);
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.background_image {
    background : url('images/pattern-background-mobile.svg') no-repeat center/cover;
    height : 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.payment{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color:hsl(245, 75%, 52%) ;
    color: white;

}
.payment:hover{
    opacity: 0.8;
}
.change{
    background-color: transparent;
    color: var(--bright--blue);
    font-weight: 700;
    font-family:"Red Hat Display" ;
    text-decoration: underline;
}
.change:hover{
    text-decoration: none;
    text-emphasis: none;
    text-transform: none;
}
.cancel{
    
    background-color: transparent;
    color: var(--desaturated--blue);
}
.cancel:hover{
    color: black;
}
.container h4{
    color: black;
}
.container h1 {
    margin-bottom: 10px;
    margin-top: 30px;
    color:hsl(227, 63%, 13%);
    font-size: 20px;
    font-weight: 800;

}
.container .plan{
    display: flex;
    margin: 20px 20px;
    padding: 10px 10px;
    background-color: var(--very--pale--blue);
    border-radius: 10px;

    justify-content: space-between;
    align-items: center;
  
}
.container{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
    padding-bottom: 20px;
    max-width: 350px;
    font-size: 14px;
}
.container article{
    margin: 0 20px;
}

.container .hero {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 20px 20px 0 0;
}
.container button{
    border:none;
    border-radius:10px;
    cursor: pointer;
    font-family:"Red Hat Display",sans-serif ;
    font-weight: 550;
    font-size: 12px;
}

.container article {
    margin-top: 20px;
}

.plan-icon{
    flex-direction: row;
    display: flex;
}
.plan img {
    margin-right: 20px;
}
.pricing{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    vertical-align:middle;
}

.buttons{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
   
}
button{
    transition: all 0.3s ease-in-out;
}
.buttons button{
    padding: 10px;
    margin: 0 20px;
}

.change:hover{
    color:hsl(224, 23%, 55%)
}

p{
    line-height: 1.6;
}

@media (min-width: 768px){
    .background_image{
        background: url('images/pattern-background-desktop.svg') no-repeat center/cover;
        height: 50vh;

    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
