@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    background-color: var(--Light-gray) ;
}
body{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: white;
    max-width: 300px ;
    height: 500px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card p {
    color: var(--Grayish-blue);
    margin: 0 10px;
}
.card h2{
    color: var(--Dark-blue);
    margin: 20px 0 ;
    font-weight: 700
}